@font-face {
  font-family: "GrtskPeta-Medium";
  src: url("../fonts/GrtskPeta-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GrtskPeta-Regular";
  src: url("../fonts/GrtskPeta-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("../fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GroteskNormal-Medium";
  src: url("../fonts/OtoiwoGroteskNormal-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
  src: url("../fonts/RobotoVariable.ttf") format('truetype');
}
