@use "./utils" as *;

/**
  * different hover styles
*/

.hover-line-show,
.hover-line-hide {
  position: relative;
}
.hover-line-show:after,
.hover-line-hide:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.0625rem;
  background: var(--c-black);
  width: 100%;
  transition: all 0.3s var(--default-ease);
  transform-origin: left;

}
.hover-line-show:after {
  transform: scaleX(0);
}
@include hover {
  .hover-line-show:hover:after {
    transform: scaleX(1);
  }
  .hover-line-hide:hover:after {
    transform: scaleX(0);
  }
}
