@function vw($size) {
  @return calc(#{$size} / var(--viewport) * 100vw);
}

@function rem($px) {
  @return calc(#{$px} / 16 * 1rem);
}

@mixin mobile() {
  @media (max-width: 1023px) {
    @content;
  }
}
@mixin desktop() {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin hover() {
  @media (hover: hover) {
    @content;
  }
}

@mixin ticker($time) {
  animation: ticker $time linear infinite;
}
